altair                    
anyio                    
astor                     
attrdict                  
attrs                    
Babel                   
backports.zoneinfo       
bce-python-sdk           
beautifulsoup4           
blinker                 
cachetools              
certifi                 
charset-normalizer        
click                    
colorama                  
contourpy            
cssselect                
cssutils                 
cycler                  
Cython                   
decorator                
et-xmlfile               
exceptiongroup            
fire                     
Flask                   
flask-babel              
fonttools               
future                    
gitdb                   
GitPython                
h11                     
httpcore                
httpx                    
idna                      
imageio                   
imgaug                   
importlib-metadata       
importlib-resources      
itsdangerous             
Jinja2                    
jsonschema                
jsonschema-specifications 
kiwisolver               
lazy_loader              
lmdb                    
lxml                    
markdown-it-py          
MarkupSafe                
matplotlib              
mdurl                    
networkx                 
numpy                    
opencv-contrib-python    
opencv-python             
openpyxl                
opt-einsum              
packaging                 
paddle-bfloat            
paddleocr               
paddlepaddle            
pandas                  
pdf2docx               
Pillow                   
pip                      
pkgutil_resolve_name      
premailer                
protobuf                
psutil                    
pyarrow                   
pyclipper                
pycryptodome             
pydeck                 
Pygments                  
Pympler                  
PyMuPDF                  
pyparsing               
python-dateutil          
python-docx               
pytz                      
pytz-deprecation-shim     
PyWavelets              
rapidfuzz               
rarfile                 
referencing              
requests                 
rich                     
rpds-py                   
scikit-image             
scipy                    
setuptools                
shapely                   
six                       
smmap                     
sniffio                   
soupsieve                 
streamlit                 
tenacity                  
termcolor                 
tifffile                
toml                     
toolz                    
tornado                  
tqdm                     
typing_extensions        
tzdata                  
tzlocal                  
urllib3                  
validators               
visualdl                  
watchdog                 
Werkzeug                
wheel                 
zipp                   
